#gameContainer{
  text-align: center;
}

#gameBoard{
  border: 3px solid;
}

#scoreText{
  font-family: MV Boli;
  font-size: 70px;
}

#resetBtn{
  font-family: MV Boli;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
}

